.whole-ting {
    margin-top: -30px;
}

nav {
    position: relative;
    background-color: #99C7F0;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #38B3FF;
    font-weight: bolder;
}

.current {
    color: #38B3FF;
    font-weight: bolder;
}

.main-header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 50px;
}

.hand-image {
    z-index: -1;
    position: relative;
    width: 10vw;
    margin-top: -140px;
    margin-bottom: -140px;
}
