nav {
    position: relative;
    background-color: #99C7F0;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    color: grey;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

.current {
    color: black;
    font-weight: bolder;
}

.main-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}
