.main-main {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw; 
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.main-img {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw; 
    text-align: center;

}

h1 {
  text-align: center;
}
