#footer {
    width: 100vw;
    position: absolute;
    background-color: #99C7F0;
    padding: 10px;
    display: block;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
    color: #222222;
}
